body {
  font-family: "Poppins", sans-serif;
  background-color: #12101d;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  margin: 0 auto;
  padding: 30px 80px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(src/hero-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400;
  color: white;
  text-align: center;
  padding: 200px;
}
header h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  margin: 30px 0;
}
header h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}
header a {
  display: block;
  margin: 30px auto;
  padding: 16px 32px;
  width: 120px;
  border-radius: 5px;
  background: #499167;
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
}
main {
  background-color: #12101d;
  color: white;
}

main h3 {
  font-size: 12px;
  font-weight: 600;
  color: #499167;
  margin: 0px 0px 8px 0px;
}
main h2 {
  font-size: 40px;
  margin: 0px 0px 24px 0px;
}
main p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  margin: px 0px 12px 0px;
}
.image {
  max-width: 100%;
}
.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(src/footer-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  color: white;
}
footer h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
footer p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}
.grid-cards {
  background-color: #1e1b2c;
  text-align: center;
  margin: 0 auto;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 20px 20px 50px 0px rgba(7, 5, 20, 0.05);
  color: black;
  text-align: left;

  justify-content: space-between;
}
.grid-3-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
}
h4 {
  font-size: 24px;
  color: #272044;
  font-weight: 700;
  padding: 0 32px;
  margin: 12px 0 8px 0;
}
h5 {
  font-size: 16px;
  color: #272044;
  padding: 0 32px;
  margin: 0;
}
.card p {
  font-size: 16px;
  opacity: 0.7;
  color: #272044;
  padding: 0 32px;
  margin: 0px 0px 8px 0px;
}
.card a {
  display: block;
  margin: 24px 16px;
  padding: 16px;
  border-radius: 5px;
  background: #499167;
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
.card-image {
  height: 500px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.grid-2-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
}
.song-cards {
  text-align: center;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .grid-2-column {
    grid-template-columns: 1fr;
  }
  section {
    padding: 30px;
  }
  .grid-3-column {
    grid-template-columns: 1fr;
  }
  .grid-2-3 {
    grid-template-columns: 1fr;
  }
  .card {
    width: 350px;
  }
}
